
h1 {
    text-align: center;
    background-color: orange;
    width: 100%;
}

ul li {
    font-family: Helvetica;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
  }

  img {
    display: block;
    margin: auto;
  }
  
  li a {
    text-decoration: none; 
    color: rgba(0, 0, 0, 0.7)
  }

  a {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.502);
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    margin: auto;
  }
  
  a:hover {
    background-color: rgba(182, 182, 185, 0.345);
  }